<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.main.dao.MainDAO">
	<insert id="insertWait" parameterType="map">
		INSERT INTO `wait`
		(
			`user_id`
			,`localid`
			,`user_gender`
			,`preference`
			,`createdat`
		)
		VALUES
		(
			#{user_id}
			,#{localid}
			,#{user_gender}
			,#{preference}
			,NOW()
		)
	</insert>
	
	<select id="selectWaitByGender" parameterType="com.project.main.model.Wait" resultType="com.project.main.model.Wait">
		SELECT
			`id`
			,`user_id`
			,`localid`
			,`user_gender`
			,`preference`
			,`createdat`
		FROM
			`wait`
		WHERE
			`user_gender` = #{preference}
		AND
			`preference` = #{user_gender}
	</select>
	
	<delete id="deleteWaitById" parameterType="com.project.main.model.Wait">
		DELETE FROM
			`wait`
		WHERE
			`user_id` = #{user_id}
	</delete>
</mapper>