<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.main.dao.MainDAO">
	<insert id="insertWait" parameterType="map">
		INSERT INTO `wait`
		(
			`user_id`
			,`localid`
			,`user_gender`
			,`preference`
			,`createdat`
		)
		VALUES
		(
			#{user_id}
			,#{localid}
			,#{user_gender}
			,#{preference}
			,NOW()
		)
		</insert>
		
		<select id="selectWait" parameterType="map" resultType="com.project.main.model.Wait">
			SELECT 
				* 
			FROM
				`wait`
			WHERE
				`user_gender` = #{preference}
			AND
				`preference` = #{user_gender}
		</select>
	
	<select id="selectWaitByGender" parameterType="com.project.main.model.Wait" resultType="com.project.main.model.Wait">
		SELECT
			`id`
			,`user_id`
			,`localid`
			,`user_gender`
			,`preference`
			,`createdat`
		FROM
			`wait`
		WHERE
			(`user_gender` = #{preference} OR #{preference} = '모두')
		AND
			(`preference` = #{user_gender} OR `preference` = '모두')
	</select>
	<!-- recent 테이블 양방향 삽입 -->
	<insert id="insertRecent" parameterType="com.project.main.model.Recent">
		INSERT INTO `recent`
		(
			`user_sendid`
			,`user_receiveid`
			,`createdat`
		)
		VALUES
		(
			#{user_sendid}
			,#{user_receiveid}
			,NOW()
		)
		,
		(
			#{user_receiveid}
			,#{user_sendid}
			,NOW()
		)
	</insert>
	
	
	<delete id="deleteWaitById" parameterType="com.project.main.model.Wait">
		DELETE FROM
			`wait`
		WHERE
			`user_id` = #{user_receiveid}
	</delete>
	
	<delete id="deleteWait" parameterType="com.project.main.model.Wait">
		DELETE FROM
			`wait`
		WHERE
			`user_id` = #{user_id}
	</delete>
	
	
	<select id="selectWaitByuserId" parameterType="int" resultType="int">
		SELECT
			`id`
			,`user_id`
			,`localid`
			,`user_gender`
			,`preference`
			,`createdat`
		FROM
			`wait`
		WHERE
			`user_id` = #{user_id}
	</select>
	
	<delete id="deleteWaitByuserId" parameterType="int">
		DELETE FROM
			`wait`
		WHERE
			`user_id` = #{user_id}
	</delete>
	
	
	<select id="selectRecentCheck" resultType="com.project.user.model.User" parameterType="int">
		SELECT
			user.id
			,user.loginid
			,user.nickname
			,user.profilephoto
		FROM
			`recent`
		LEFT JOIN `user`
		ON 
			recent.user_receiveid = user.id
		WHERE
			recent.user_sendid = #{user_sendid}
		ORDER BY
			recent.id DESC
		LIMIT 1;
	</select>
	
	
	
	<!-- 매칭이력 event -->
	<select id="selectRecentUserBySendId" resultType="com.project.main.model.Recent" parameterType="com.project.main.model.Recent">
		SELECT
			id
			,user_sendid
			,user_receiveid
			,createdat
		FROM
			`recent`
		where 
			user_sendid = #{user_sendid}
		ORDER BY
			createdat DESC
		LIMIT 6;
	
	
	
	</select>
</mapper>