<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.user.dao.UserDAO">
	
	<!--  회원가입 id 중복확인 select -->
	<select id="existingLoginId" parameterType="string"
		resultType="int">
		SELECT
		COUNT(1)
		FROM
		`user`
		WHERE
		`loginid`=#{loginid}
	</select>
	
	<!-- 회원가입 필수정보 insert -->
	<insert id="insertUser" parameterType="com.project.user.model.User">
		INSERT INTO `user`
		(
			`loginid`
			,`password`
			,`phonenumber`
			,`nickname`
			,`email`
			,`path`
			,`gender`
			,`createdat`
			,`updatedat`
		)
		VALUES
		(
			#{loginid}
			,#{password}
			,#{phonenumber}
			,#{nickname}
			,#{email}
			,#{path}
			,#{gender}
			,NOW()
			,NOW()
		)
	</insert>
	<!-- 로그인시 아이디 및 비밀번호 일치여부 확인 event -->
	<select id="selectUserByLoginIdAndPassword" parameterType="com.project.user.model.User" resultType="com.project.user.model.User">
		SELECT
			*
		FROM
			`user`
		WHERE
			`loginid` = #{loginid}
		AND
			`password` = #{password}
	</select>
	
	<!-- 회원가입시 추가정보 업데이트 -->
	<update id="updateUser" parameterType="com.project.user.model.User">
	UPDATE
		`user`
	SET
		`birth` = #{birth}
	,
		`area` = #{area}
	,	
		`intro` = #{intro}
	,
		`profilephoto` = #{profilephoto}
	,	
		`updatedat` = NOW()
	WHERE `loginid` = #{loginid}
	</update>
	<select id="selectUserByLoginId" parameterType="com.project.user.model.User" resultType="com.project.user.model.User">
	SELECT 
		*
	FROM
		`user`
	WHERE
		`loginid` = #{loginid}
	</select>

	<select id="existingUserAddition"  parameterType="string" resultType="int">
		SELECT 
		COUNT(`area`  or `birth` or `profilephoto`)
		FROM
			`user`
		WHERE
			`loginid` = #{loginid}
		
			
	</select>
	
	
	
	<!-- 비밀번호 찾기 아이디 및 이메일 일치여부 -->
	<select id="selectUserCheckByUserIdUserEmail" parameterType="com.project.user.model.User" resultType="com.project.user.model.User">
		SELECT
			`id`
			,`loginid`
			,`password`
			,`phonenumber`
			,`nickname`
			,`email`
			,`path`
			,`intro`
			,`gender`
			,`profilephoto`
			,`birth`
			,`area`
			,`sanction`
			,`deleted`
			,`createdat`
			,`updatedat`
		FROM
			`user`
		WHERE
			`loginid` = #{loginid}
		AND
			`email` = #{email}
	</select>
	
	<!-- 비밀번호 찾기 임시비밀번호 업데이트 -->
	<update id="updateUserPassword" parameterType="com.project.user.model.User">
		UPDATE `user`
		SET
			`password` = #{password}
		WHERE
			`loginid` = #{loginid}
	</update>
	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="com.project.user.model.User" resultType="com.project.user.model.User">
	 	SELECT 
	 		* 
	 	FROM
	 		`user`
	 	WHERE 
	 		`phonenumber` = #{phonenumber}
	 	OR
	 		`email` = #{email}
	 		
	</select>
	
	<select id="isExistUser" parameterType="map" resultType="boolean">
		select count(1)
		from
			`user`
		where
			`loginid` = #{loginid}
	</select>
	
	
</mapper>