@charset "UTF-8";

/* reset */
@import "reset.css";

/* common */
.btn-custom {
	background: #ee0979;
	color: #fff;
}
.btn-custom:hover {
	background: #be0761;
	color: #fff;
}
.bg-black {
	background: #000 !important;
}
.dropdown-toggle::after {
	display: none;
}

/* layout */
.main-wrap {
	min-width: 1140px !important;
	margin: 0 auto;
}
.ml-auto {
	margin-left: auto !important;
}

/* navigation */
.navbar {
	height: 60px;
	background: #000;
}
.navbar .logo {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
}
.navbar .menu a {
	color: #fff;
}

/* footer */
footer {
	padding: 30px 0;
}

/* main visual */
.main-visual {
	height: 600px;
	background: #000;
	color: #fff;
	padding-top: 60px;
}
.main-visual h1 {
	font-size: 70px;
	font-weight: 600;
	line-height: 1.5;
}
.main-visual h2 {
	font-size: 40px;
}
.main-visual-btn-box {
	margin-top: 80px;
}
.main-visual-btn-box .btn-custom {
	width: 220px;
	height: 60px;
	margin: 0; padding: 0;
	line-height: 58px;
	border-radius: 40px;
	font-size: 18px;
}

/* main content */
.main-content-area .main-content img {
	max-width: 400px;
}
.main-content-area .main-content .title {
	font-weight: 500;
	line-height: 2;
}


/* content */
.content-area {
	padding-top: 60px;
	min-height: calc(100vh - 73px);
}
.content-area .content {
	padding: 80px 0;
}

/* call */
.call-user-profile-box {
	width: 100%;
	display: flex;
	border-bottom: 1px solid #dee2e6;
}
.call-user-profile-box .user-profile {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}
.call-user-profile-box .user-profile .profile {
	display: flex;
	align-items: center;
	width: 100%;
}
.call-user-profile-box .user-profile:last-child {
	border-left: 1px solid #dee2e6;
}
.call-user-profile-box .user-profile img {
	width: 100%;
	max-width: 45px;
	height: 45px;
	border-radius: 50%;
	object-fit: cover;
}
.call-user-profile-box .user-profile .user-nickname {
	margin-left: 10px;
	font-weight: 600;
}

#camera-btn, #voice-btn {
	border: none;
	outline: none;
	color: #444;
	padding: 10px;
	width: fit-content;
	border-radius: 50%;
	border: 1px solid #ddd;
	background: transparent;
}
#camera-btn:focus, #voice-btn:focus {
	border: 1px solid #ddd;
	outline: none;
}

.call-area .call-check-status {
	width: 100%;
	height: 400px;
}
.call-search-option {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
}
.call-gender-option-content {
	margin-top: 50px;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
.call-gender-option-subject span{
	font-size: 28px;
	font-weight: 700;
}
.call-gender-option-content input[type=radio]{
    display: none;
}
.call-gender-option-content input[type=radio]+label {
	display: inline-block;
	padding: 20px;
	border: 1px solid #bbb;
	border-radius: 30px;
	width: 120px;
	height: 60px;
	text-align: center;
    font-weight: bold;
    color: #333;
    user-select: none;
}
.call-gender-option-content label:hover {
	background-color: #ddd;
	transition: all 100ms;
}
.call-gender-option-content input[type=radio]:checked+label {
	background-color: #333;
	color: #fff;
}
.call-btn-box {
	margin-top: 50px;
}
.call-btn-box .btn-custom {
	width: 220px;
	height: 60px;
	margin: 0; padding: 0;
	line-height: 58px;
	font-size: 18px;
	border-radius: 30px;
}
#callChatRecordArea {
	height: 250px;
	border: 1px solid #ddd;
	overflow: auto;
	overflow-x: none;
}
#callChatSubmitBtn {
	width: 100px;
}


/* camera */
video {
	width: 100%;
	height: 100%;
	object-fit : cover;
	position: relative;
	z-index: 100;
}
.video-box {
	width: 100%;
	height: 100%;
	display: flex;
}
.video-box .video {
	position: relative;
	width: 50%;
	height: 100%;
	background: #eee;
	border-bottom: 1px solid #dee2e6;
}
.video-box .video:last-child {
	border-left: 1px solid #dee2e6;
}
.video-box .video:before {
	font-family: 'Material Icons';
	content: 'videocam_off';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 110px;
	color: #bbb;
}
.video-box .video:after {
	content: '웹캠이 연결되어 있지 않습니다';
	position: absolute;
	top: calc(50% + 55px);
	left: 50%;
	transform: translateX(-50%);
	color: #999;
}

/* chat */
.call-chat {
	width: 50%;
	padding: 10px;
	border-left: 1px solid #dee2e6;
}
.call-chat .chat-box {
	width: 100%;
	overflow: auto;
	overflow-x: none; 
	/* display: grid; */
	height: calc(100% - 40px);
}
.call-chat .chat-box .chat {
	/* display: flex; */
	font-size: 14px;
	margin-top: 10px;
}
.call-chat .chat-box .chat .user-nickname {
	font-weight: 600;
	width: max-content;
}
.call-chat .chat-box .chat .chat-content {
	font-size: 14px;
	line-height: 18px;
	margin-left: 10px;
	word-break:break-all;
}

.call-chat .input-box {
	display: flex;
}
.call-chat .input-box .chat-input {
	width: 100%;
	height: 40px;
	font-size: 14px;
}
.call-chat .input-box .chat-send-btn {
	width: 50px;
	font-size: 14px;
	border: 1px solid #000;
}