@charset "UTF-8";

/* reset */
@import "reset.css";

/* common */
.btn-custom {
	background: #ee0979;
	color: #fff;
}
.btn-custom:hover {
	background: #be0761;
	color: #fff;
}
.bg-black {
	background: #000 !important;
}
.dropdown-toggle::after {
	display: none;
}

/* layout */
.main-wrap {
	min-width: 1140px !important;
	margin: 0 auto;
}
.ml-auto {
	margin-left: auto !important;
}

/* navigation */
.navbar {
	height: 60px;
	background: #000;
}
.navbar .logo {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
}
.navbar .menu a {
	color: #fff;
}

/* footer */
footer {
	padding: 30px 0;
}

/* main visual */
.main-visual {
	height: 600px;
	background: #000;
	color: #fff;
	padding-top: 60px;
}
.main-visual h1 {
	font-size: 70px;
	font-weight: 600;
	line-height: 1.5;
}
.main-visual h2 {
	font-size: 40px;
}
.main-visual-btn-box {
	margin-top: 80px;
}
.main-visual-btn-box .btn-custom {
	width: 220px;
	height: 60px;
	margin: 0; padding: 0;
	line-height: 58px;
	border-radius: 40px;
	font-size: 18px;
}

/* main content */
.main-content-area .main-content img {
	max-width: 400px;
}
.main-content-area .main-content .title {
	font-weight: 500;
	line-height: 2;
}


/* content */
.content-area {
	padding-top: 60px;
	min-height: calc(100vh - 73px);
}
.content-area .content {
	padding: 80px 0;
}

/* call */

.call-area .call-check-status {
	display : flex;
	background-color: black;
	width: 100%;
	height: 400px;
}
.call-search-option {
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.call-gender-option-subject {
	padding-top: 30px;
}
.call-gender-option-content {
	margin-top: 50px;
}
.call-gender-option-subject span{
	font-size: 40px;
	font-weight: 700;
}
.call-gender-option-content input[type=radio]{
    display: none;
}
.call-gender-option-content input[type=radio]+label {
	display: inline-block;
	padding-top: 20px;
	border: 1px solid black;
	width:120px;
	height:70px;
	margin: 0 20px 0 20px;
	text-align: center;
    font-weight:bold;
}
.call-gender-option-content label:hover {
	background-color: grey;
}
.call-gender-option-content input[type=radio]:checked+label {
	background-color: green;
}
.call-btn-box {
	margin-top: 80px;
	background-color: black;
}
.call-btn-box .btn-custom {
	width: 220px;
	height: 60px;
	margin: 0; padding: 0;
	line-height: 58px;
	font-size: 18px;
}



video {
	width: 50%;
	height: 100%;
	object-fit : cover;
}