@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom reset */
a {
	text-decoration: none !important; 
	color: #000;
}

/* checkbox */
.checkbox {
	display: inline-block;
	position: relative;
	padding-top: 3px;
}
.checkbox > input[type="checkbox"] {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 1px;
	height: 1px;
	opacity: 0;
}
.checkbox > input[type="checkbox"] + span {
	display: block;
	position: relative;
	padding-left: 28px;
}
.checkbox > input[type="checkbox"] + span:after {
	display: block;
	font-family: 'Material Icons';
	content: 'radio_button_unchecked';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 21px;
	font-size: 20px;
	color: #bbb;
}
.checkbox > input[type="checkbox"]:checked + span:after {
	
	content: 'check_circle';
	color: #ee0979;
}