@charset "UTF-8";

/*=========================================================================================로그인 시작 */
.user-login {min-width: 100vh;}
.user-login .login-area {padding: 0 20px;
	position: absolute;
	top:16vh; left:25vw;}
.user-login .login-area .logo {padding: 0 0 10vh;}
.user-login .login-area .logo > a {
	font-size: 65px;
}
.user-login .login-area .user-loginbox, .user-login .login-area .user-button-box {
	margin: 0 auto;
}

.user-login-content-box {margin: auto; width:400px;
	padding-top:35px;
	height:450px;
	border-radius: 10px;
	background-color: white;}
	
.user-login-content {
	margin: auto; 
	width: 320px;}


.user-login .image-area > img {
	width: 100%; 
	min-height: 100vh; 
	object-fit: cover;
	position: relative;
}
.user-loginbox >input {
	width: 100%;
	height: 48px;
	padding: 0 10px;
	box-sizing: border-box;
	margin-bottom: 16px;
	border-radius: 6px;
	background-color: #eeeeee;
	border: none;
}
.user-loginbox > label { color : #999999;}
.user-remember-check >input[type="checkbox"] {
	display: none;
}
.user-button-box .user-login-submit {
	color: #fff;
	font-size: 16px;
	background-color: pink;
	width: 100%;
	height: 48px;
	padding: 0 10px;
	box-sizing: border-box;
	border-radius: 6px;
	border: none;
}
.user-button-box .user-login-social {
	color: #fff;
	font-size: 16px;
	background-color: pink;
	width: 100%;
	height: 48px;
	padding: 0 10px;
	box-sizing: border-box;
	margin-top : 5px;
	border-radius: 6px;
	border: none;
}
.user-button-box .user-login-kakao {
	height: 48px;
	margin-top : 5px;
}

.user-find {text-align: center}
.user-find a { 
	color : #666;
	text-decoration:none;
	}
.user-find span {padding-left: 10px;}








/* ============================================================================================회원가입시작 */


.signup-body{
    font-size:14px;
    background-color: #f5f6f7;
    line-height: 1.5em;
    color : #222;
    margin: 0;
}
.signup-body a{
    text-decoration: none;
    color: #222;
}

/*signup sign in*/
.signup{
    width: 400px;
    /* border: 1px solid #000; */
    margin: auto; /*중앙 정렬*/
    padding: 0 20px;
    margin-bottom: 20px;
}

.signup .signup-logo{
    /*로고는 이미지라 인라인 블록이니까 마진 오토 안됨 블록요소만 됨 */
    font-size: 24px;
	color: pink;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}

.signup b{
    /* border: 1px solid #000; */
    display: block; /*수직 정렬하기 */
    margin-bottom: 5px;
}

/*input 중 radio 는 width 가 100%면 안되니까 */
.signup input:not(input[type=radio]),.signup select{
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}

.signup input[type=button], .signup input[type=submit]{
background-color: pink;
color:#fff
}

.signup input:focus, .signup select:focus{
    border: 1px solid #2db400;
}

.signup-birth div{ /*field 이면서 birth*/
    display: flex;
    gap:10px; /*간격 벌려줄때 공식처럼 사용핟나 */
}

.signup-number div { display: flex;}
.signup-number div input:nth-child(1){flex:2;}
.signup-number div input:nth-child(2){flex:1;}
.signup-gender div{
    border: 1px solid #dadada;
    padding: 15px 5px;
    background-color: #fff;
}
.placehold-text{
    display: block; /*span 으로 감싸서 크기영역을 블록요소로 만들어ㅜ저야한다*/
    position:relative;
}
.placehold-text:before{ 
    position:absolute; /*before은 inline 요소이기 때문에 span으로 감싸줌 */
    right : 20px;
    top:13px;
    pointer-events: none; /*자체가 가지고 있는 pointer event 를 없애준다 */
}
.signup-footer {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}
.signup-footer div a:hover{
    text-decoration: underline;
    color:#2db400
}
.signup-footer div a:after{
    content:'|';
    font-size: 10px;
    color:#bbb;
    margin-right: 5px;
    margin-left: 7px;
    /*살짝 내려가 있기 때문에 위로 올려주기 위해 transform 사용하기*/
    display: inline-block;
    transform: translateY(-1px);

}
.signup-footer div a:last-child:after{ display: none;}
.showLimit , .showTrue {color : red;}
.showFalse{ color : pink;}
.d-none {display: none;}



/* ============================================================================================아이디 찾기 시작 */
.id-body {
	padding: 0;
	margin: 0;
	text-decoration:none !important;
	font-size: 15px;
}

.id-body a {
	color: #666;
}

.id-wrap {
	width: 400px;
	height: 350px;
	padding: 40px;
	box-sizing: border-box;
	margin: auto;
	margin-top: 100px;
	
}

.id-wrap>h2 {
	font-size: 30x;
	font-weight: bold;
	color: pink;
	margin-bottom: 20px;
}

.id-form>input {
	width: 100%;
	height: 48px;
	padding: 0 10px;
	box-sizing: border-box;
	margin-bottom: 16px;
	border-radius: 6px;
	background-color: #F8F8F8;
	border: none;
}

.id-form>input::placeholder {
	color: #666;
}

.id-form>input[type="submit"] {
	color: #fff;
	font-size: 16px;
	background-color: pink;
	margin-top: 20px;
}

.id-box {
	display: none;
}

.id-box>span {
	color: #6A24FE;
}

.id-box>input {
	width: 100%;
	height: 48px;
	padding: 0 10px;
	box-sizing: border-box;
	margin-bottom: 16px;
	border-radius: 6px;
	background-color: #F8F8F8;
	border: none;
}


.id-find {
	
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.id-find span {
	padding-left: 10px;
	
	
}

.id-find span::before {
	content: '|';
	color: #333;
	padding-right: 10px;
}

.id-find span:nth-child(1):before {
	content: none;
}

.id-find span:nth-child(1) {
	padding-left: 0px;
}

.id-find a:hover {
	color: #707070;
}
